<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.4&appId=412267672222564";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<img src="<%= @dispatch.picture.url %>"> <br> 


title : <%= @dispatch.title %> <br>
emotion : <%= @dispatch.emotion %> <br>
time : <%= @dispatch.when %> <br> 

Dairy <br>
<%= @dispatch.diary %>
<br>

<a href="/dispatches?id=<%=@dispatch.destination.id%>">돌아 가기</a>

<%= form_tag '/comment/create' do %>
<input type="hidden" name="dispatch_id" value="<%=@dispatch.id%>">
<input type="text" name="content" placeholder="댓글을 입력해주세요"">
<input type="submit">
<% end %>
<div class="fb-share-button" data-href="https://pictrip-cycorld.c9.io/dispatches/<%=@dispatch.id%>" data-layout="button_count"></div>
<ul>
<% @dispatch.comments.each do |c| %>
  <li><%=c.dispatch.destination.user.email%> : <%=c.content%></li>
<% end %>
</ul>